<div class="js-toggle-nav" id="global-nav">
  <a href="#navigation" class="js-header-toggle">interactiondesign@companieshouse.gov.uk</a>
  <nav role="navigation" class="content">
    <ul id="navigation" class="mobile-hidden">

      <li id="signed-in-user" class="user">interactiondesign@companieshouse.gov.uk:
      </li>

      <li>
        <a href="account.html">Your details</a>
      </li>

      <li>
        <a id="recent_filings" href="filings.html">Your filings</a>
      </li>

      <li>
        <a id="companies_you_follow" href="companies-followed.html">Companies you follow</a>
      </li>

      <li>
        <a id="user-signout" href="index.html">Sign out</a>
      </li>

    </ul>
    <!--admin bar-->

    <!--end bar-->
  </nav>
</div>