{% extends "layout.html" %}

{% block pageTitle %}
  Third-party applications
{% endblock %}

{% block beforeContent %}
  {% include "includes/header.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "account.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Third-party applications</h1>

      {% for case in cases %}
        {% if case.show === true %}
          <h3 class="govuk-heading-l">{{ case.app }}</h2>
          <p class="govuk-body">Software provided by **insert company name**</p>
          <p class="govuk-body">{{case.description}}</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Sage 50cloud terms and conditions</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Sage 50cloud privacy policy</a>
            </li>
          </ul>
          <h4 class="govuk-heading-s">Permissions</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>View company data</li>
            <li>Submit and edit accounts</li>
          </ul>
          <p class="govuk-body-s">Approved on
            {{ case.approved }}</p>
          {% set buttonHref = "revoke-access?id=" +  case.id %}

          {{ govukButton({
         text: "Remove access",
         classes: "govuk-button--warning",
         href: buttonHref
       }) }}
        {% endif %}
      {% endfor %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">About third-party applications</h2>
      <p class="govuk-body">Third-party apps are software applications created by external developers for use with Companies House services. They are not created or owned by Companies House.
      </p>
      <p>You can choose to connect a third-party app to your Companies House account. This will give it permission to access company information.</p>
      <p>There are different types of permission you can give, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>read, which allows the app to view and collect company information</li>
        <li>write, which allows the app to make changes to your account, including submitting information on your behalf
        </li>
      </ul>
      <p>Consider the security of an app before granting it permission to access your company information.
      </p>
    </div>
  </div>
{% endblock %}