{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Your details</h1>
  <p class="govuk-body">Email<br/>
    <strong>mgearon@companieshouse.gov.uk</strong>
  </p>
  <p class="govuk-body">
    <a href="access.html">Third-party applications</a>
  </p>
  <p class="govuk-body">
    <a href="#">Change email address</a>
  </p>
  <p class="govuk-body">
    <a href="#">Change password</a>
  </p>
  <p class="govuk-body">
    <a href="#">Go to company search</a>
  </p>
{% endblock %}