{% extends "layout.html" %}

{% block pageTitle %}
  Your account
{% endblock %}
{% block beforeContent %}
  {% include "includes/header.html" %}

{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">Your details</h1>
  <p class="govuk-body">Email<br/>
    <strong>interactiondesign@companieshouse.gov.uk</strong>
  </p>
  <p class="govuk-body">
    <a href="access.html">Third-party applications</a>
  </p>
  <p class="govuk-body">
    <a href="change-email.html">Change email address</a>
  </p>
  <p class="govuk-body">
    <a href="change-password.html">Change password</a>
  </p>
  <p class="govuk-body">
    <a href="https://beta.companieshouse.gov.uk">Go to company search</a>
  </p>
  <p class="govuk-body">
    <a href="authorisation.html">**authorisation screen**</a>
  </p>
{% endblock %}