{% extends "layout.html" %}

{% block pageTitle %}
  Authorise
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">You are about to give **company name** access</h1>
      <p class="govuk-body-l">Software provided by **insert company name**</p>
      <p class="govuk-body">This will allow them to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view your email address</li>
        <li>file for **company name/number**</li>
      </ul>
      {{ govukButton({
        text: "Allow access",
        classes: "govuk-!-margin-right-1"
      }) }}

      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %}