{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/header.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "account.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change password
      </h1>
      <p>Change password for</p>
      <p>
        <strong>interactiondesign@companieshouse.gov.uk</strong>
      </p>
      {{ govukInput({
        label: {
          text: "Current password"
        },
        id: "current-password",
        type: "password",
        name: "current-password"
      }) }}
      {{ govukInput({
        label: {
          text: "New password",
          classes: "govuk-!-margin-top-8"
        },
        hint: {
          text: "Password must be at least 8 characters, and contain at least 1 upper case letter, 1 lower case letter, 1 number and 1 symbol."
        },
        id: "new-password",
        type: "password",
        name: "new-password"
      }) }}
      {{ govukInput({
        label: {
          text: "Confirm new password"
        },
        id: "confirm-new-password",
        type: "password",
        name: "confirm-new-password"
      }) }}
      {{ govukButton({
        text: "Change password",
        href: "change-password"
      }) }}
    </div>
  </div>
{% endblock %}